.blocked-cell{
	text-align:center;
}

.btn-container {
	width: 100%;
	text-align: center;
}

.solve-btn-color {
	background-color: #5bc0de;
	border-color: #5bc0de;
}
.solve-btn-color:hover {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.table-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 40px 0;
}

.table-answer {
	width: 80%;
}

.modified-row{
	font-weight: bold;
}

.table tbody tr > td.modified {
	background-color: rgb(112, 241, 104) !important;
}

.table tbody tr > td.success {
	background-color: rgb(120, 200, 224) !important;
}
