<!DOCTYPE html>
<html ng-app="Skyscrapers" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Skyscrapers!</title>


    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="css/template.css" rel="stylesheet" type="text/css">

    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

</head>

<body>

<div id="wrapper" ng-controller="SkyscrapersController">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SIA - Edificios</a>
        </div>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li data-ng-class="{ 'active' : tabState == 'dashboard'}">
                    <a href="" data-ng-click="changeState('dashboard')"><i class="fa fa-fw fa-dashboard"></i> Start
                        Problem</a>
                </li>
                <li data-ng-class="{ 'active' : tabState == 'stats'}">
                    <a data-ng-click="changeState('stats')"><i class="fa fa-fw fa-bar-chart-o"></i> Solution Stats</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="tab-content" ng-show=" tabState == 'dashboard'">
            <div class="container-fluid">
                <h2>Start Problem</h2>
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label>Strategy</label>
                        <select class=" col-md-8 form-control" ng-model="problemData.strategy">
                            <option value='BFS' selected>BFS</option>
                            <option value='DFS'>DFS</option>
                            <option value='IDDFS'>Iterative Depth DFS</option>
                            <option value='GREEDY'>Greedy</option>
                            <option value='ASTAR'>A*</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Heuristic</label>
                        <select class=" col-md-8 form-control" ng-model="problemData.heuristic">
                            <option value='TRIVIAL' selected>Trivial</option>
                            <option value='SATISFIED_CONDITIONS'>Satisfied conditions</option>
                            <option value='HIGHEST_VALUES'>Highest values</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Problem Side</label>
                        <input class="form-control" data-ng-change="restartBoard(problemSide)"
                               data-ng-model="problemSide" type="number" min="1">
                        <p class="help-block">Just keep it real...</p>
                    </div>
                    <div class="col-md-2 form-group">
                        <label>Load preset</label>
                        <select class=" col-md-8 form-control" ng-model="selectedPreset" ng-change="changePreset(selectedPreset)">
                            <option ng-repeat="preset in presets" value="{{preset}}"> Preset {{$index}}</option>
                        </select>
                    </div>
                </div>
            </div>


            <!-- problem matrix table -->
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <h2>Board</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">

                            <tbody>
                            <tr ng-repeat="row in board">
                                <td ng-repeat="col in row.cols">
                                    <div ng-show="col.blocked" class="blocked-cell">
                                        -
                                    </div>

                                    <div ng-show="!col.blocked">
                                        <input class="form-control" data-ng-model="col.value" type="number" min="1"
                                               max="{{problemSide}}">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="btn-container" data-ng-show="!isSolving">
                            <button type="button" class="btn btn-success btn-lg solve-btn-color" data-ng-click="solve()">Solve!
                            </button>
                        </div>
                        <div class="btn-container" data-ng-show="isSolving">
                            <h2>Solving...</h2>
                        </div>
                        <div ng-show="serverError" style="color: red;font-weight: bold;font-size: 2em; text-align: center;">
                            Server run out of resources! Try another board size, more restrictions or another strategy =)
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="tab-content" ng-show=" tabState == 'stats' ">
            <div class="container-fluid">
                <h2>Solution Stats</h2>
                <div>

                    <div class="table-responsive" ng-show="solution">
                        <h3>Solution</h3>

                        <div>Heuristic: <strong>{{solution.heuristicName}}</strong></div>
                        <div>Strategy: <strong>{{solution.strategy}}</strong></div>
                        <div>Expanded nodes: <strong>{{solution.expandedNodes}}</strong></div>
                        <div>Running time (ms): <strong>{{solution.runningTimeMs}}</strong></div>
                        <div>Nodes in frontier: <strong>{{solution.frontierNodes}}</strong></div>

                        <div ng-show="solution.failed" style="color: red;font-weight: bold;font-size: 2em; text-align: center;">
                            No solution found =/
                        </div>
                        <div data-ng-show="!solution.failed">

                            <div class="table-container">
                                <button type="button" class="btn btn-info" ng-click="setCurrentSolvedBoard(0);">
                                    <span class="glyphicon glyphicon-backward"></span>
                                </button>
                                <button type="button" class="btn btn-info"
                                        ng-click="setCurrentSolvedBoard(currentSolvedBoard - 1);">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>

                                <table class="table table-bordered table-hover table-answer">
                                    <tbody>
                                    <tr ng-repeat="row in solvedBoards[currentSolvedBoard].matrix">
                                        <td ng-repeat="val in row.item" ng-class="{'modified' : $parent.$index == solvedBoards[currentSolvedBoard].affectedRow ,'success' :  ($index == 0 && $parent.$index !=0 && $parent.$index != solvedBoards[currentSolvedBoard].matrix.length-1)||
                                            ($index == solvedBoards[currentSolvedBoard].matrix.length-1 && $parent.$index !=0 && $parent.$index != solvedBoards[currentSolvedBoard].matrix.length-1)||
                                            ($parent.$index == 0 && $index !=0 && $index != solvedBoards[currentSolvedBoard].matrix.length-1)||
                                            ($parent.$index == solvedBoards[currentSolvedBoard].matrix.length-1 && $index !=0 && $index != solvedBoards[currentSolvedBoard].matrix.length-1)}">

                                            <div data-ng-show="$index != 0 && $parent.$index !=0 &&
                                                $index != solvedBoards[currentSolvedBoard].matrix.length-1 &&
                                                $parent.$index != solvedBoards[currentSolvedBoard].matrix.length-1"
                                                 class="blocked-cell" ng-class="{'modified-row' : $parent.$index == solvedBoards[currentSolvedBoard].affectedCell }">
                                                {{val}}
                                            </div>

                                            <div data-ng-show=
                                                         "($index == 0 && $parent.$index !=0 && $parent.$index != solvedBoards[currentSolvedBoard].matrix.length-1)||
                                                         ($index == solvedBoards[currentSolvedBoard].matrix.length-1 && $parent.$index !=0 && $parent.$index != solvedBoards[currentSolvedBoard].matrix.length-1)||
                                                         ($parent.$index == 0 && $index !=0 && $index != solvedBoards[currentSolvedBoard].matrix.length-1)||
                                                         ($parent.$index == solvedBoards[currentSolvedBoard].matrix.length-1 && $index !=0 && $index != solvedBoards[currentSolvedBoard].matrix.length-1)"
                                                 class="blocked-cell border-cell">
                                                {{val}}
                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <button type="button" class="btn btn-info"
                                        ng-click="setCurrentSolvedBoard(currentSolvedBoard + 1);">
                                    <span class="glyphicon glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-info"
                                        ng-click="setCurrentSolvedBoard(solvedBoards.length - 1);">
                                    <span class="glyphicon glyphicon-forward"></span>
                                </button>
                            </div>

                            <div style="text-align: center;">
                                <h4>{{currentSolvedBoard+1}}/{{solvedBoards.length}}</h4>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!solution">
                        <h3>No problem solved yet</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>
    -->
    <script src="controllers/SkyscrapersController.js"></script>

</div>
</body>

</html>